.vs/SIGOC.slnx/FileContentIndex/93941a60-b8fa-42a3-a2c9-f41e84e7d6db.vsidx
.vs/SIGOC.slnx/FileContentIndex/f0b6564e-9a72-444b-a8c3-d757549dbc36.vsidx
.vs/SIGOC.slnx/v18/.wsuo
.vs/SIGOC.slnx/FileContentIndex/d4dec7ba-bd43-4f7e-8b91-2a88ffa0c838.vsidx
.vs/SIGOC.slnx/FileContentIndex/2f49195e-259b-4aed-aeb0-6e20d68806d6.vsidx
.vs/SIGOC.slnx/FileContentIndex/790af587-f10f-4f4e-80b6-b2243a47fea4.vsidx
.vs/SIGOC.slnx/FileContentIndex/f0b6564e-9a72-444b-a8c3-d757549dbc36.vsidx
.vs/SIGOC.slnx/FileContentIndex/b8ed7ebf-9a21-4dbf-9b20-b449c9d6bfc6.vsidx
.vs/SIGOC.slnx/FileContentIndex/13790ad4-10ef-4f57-84a4-4d100d39487c.vsidx
*.vsidx
.vs/SIGOC.slnx/FileContentIndex/f0b6564e-9a72-444b-a8c3-d757549dbc36.vsidx
*.vsidx
.vs/SIGOC.slnx/v18/.wsuo
